.bubble{
    background-color: rgb(224, 20, 6);
    border-radius: 25px;
    padding: 12px 20px;
    color: white;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);;
    color: whitesmoke;
   
}

.spaced-title {
  display: flex;
  justify-content: space-between;
}

.h1 {
  display: flex;
  gap: 20px;
}