.bubble{
    background-color: yellow;
    border-radius: 25px;
    padding: 12px 20px;
    color: white;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);;
    color: black;
   
}

.big-title {
    font-size: 48px;
}